.detailsDialog {
    min-width: 1060px;
}
.empty {
    height: 50px;
}
.rowPaddings {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.borderBottom {
    border-bottom: 1px solid #E6E6E6;
}
.readonly input{
    background-color: #F5F5F5;
}

.editable .input {
    background-color: #FFFFFF;
}

.branch{
    width: 100%;
}
.cassetteDenomination{
    width: 170px;
}
.cassetteDenomination input {
    text-align: right;
}

/*-----------------------------------*/

.contentWrapper {
    margin: 0px auto;
}

.rowPaddings {
    padding-top: 10px;
    padding-bottom: 10px;
}

.borderBottom {
    border-bottom: 2px solid #E6E6E6;;
}

.countLabel {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px
}

.popupGridContainer {
    max-height: 300px;
    overflow-y: scroll;
}

.messageTooManyResults {
    color: #FF4A4A;
    padding: 20px;
}

.errorWrap {
    margin-bottom: 10px;
}

.errorMessage {
    color: #ff3333;
}

.buttonsRightMargin {
    margin-right: 5px;
}

.cardHolderWrapper input {
    text-transform: uppercase;
}

.cardHolderWrapper input::placeholder {
    text-transform: none;
}

.binId{
    width: 100%;
}

.productId{
    width: 100%;
}

.labelWrap {
    font-weight: 700;
}