@import '../ActionStatusButton/style.css';

.statusActionButton{
    padding: 6px 15px;
    cursor: pointer;
}
.statusActionButtonDisabled{
    border: 1px solid #ccc;
    color: #444;
    background: #f4f4f4;
    border-radius: 4px;
    height: 26px;
    padding: 6px 15px;
}

.actionStatusButtonWrap:hover, .actionStatusButtonWrap:active, .actionStatusButtonWrap {
    height: 26px;
    margin-top: 4px;
    text-decoration: none;
}
